.Filter {
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 15px 0;
    align-items: center;
}

.Filter div {
    border-radius: 10px;
    margin: 0 20px;
}

.Filter button {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #424242;
    border: none;
    opacity: 0.8;
    outline: none;
}

.Filter button:hover {
    box-shadow: 9px 1px 11px rgba(192,192,192,192.85), 8px 10px 10px rgba(192,192,192,192.82);
}

.Filter .Active {
    background-color: #F65261;
    opacity: 1;
}

.Filter button:first-child {
    border-radius: 5px 0 0 5px;
}

.Filter button:last-child {
    border-radius: 0 5px 5px 0;
}

@media (min-width: 600px) {
    .Filter {
        margin: 0;
    }
}